@import "tailwindcss";
body{
  font-family: "Source Sans Pro", sans-serif !important;
 }
.card-hover:hover {
  border-right: 3px solid #3b82f6; 
  border-bottom: 3px solid #3b82f6;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);

  /* transition: all 0.3s ease; */
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 2s ease forwards;
}

.delay-200 {
  animation-delay: 0.4s;
}


.bg-tint {
  background-color: rgba(0, 0, 0, 1); 
  color: white; 
}
@keyframes slideInCenter {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.mega-menu{
  animation: slideInCenter 0.6s ease-out forwards;
}